<h4>{{answer.body}} by {{answer.author}} on {{answer.date}}
<button {{action 'delete' answer}} class="btn btn-danger" id="delete-answers">Delete</button></h4>
{{answer-update answer=answer updateAnswer="updateAnswer"}}
