<h4>{{answer.body}}</h4>
{{answer-update answer=answer updateAnswer="updateAnswer"}}
<p>by {{answer.author}} on {{answer.date}}
<button {{action 'delete' answer}} class="btn btn-danger">Delete</button></p>
