<h4>{{answer.body}} by {{answer.author}} on {{answer.date}}
<button {{action 'delete' answer}} class="btn btn-danger" id="delete-answers">Delete</button></h4>
<h5><span class="agree-answer" {{action 'addAgree' answer}}><i class="fa fa-heart" aria-hidden="true"></i> Has to be right!</span>&nbsp;&nbsp;<span class="disagree-answer" {{action 'addDisagree' answer}}><i class="fa fa-ban" aria-hidden="true"></i> Totally wrong</span></h5>
{{answer-update answer=answer updateAnswer="updateAnswer"}}
