<div class="row">
  <div class="col-lg-4">
    <h2>{{question.body}}</h2>
    <p>by {{question.author}} on {{question.date}}<button {{action 'delete' question}} class="btn btn-danger" id="delete-question">Delete</button></p>
    {{question-update question=question updateQuestion="updateQuestion"}}
  </div>
  <div class="col-lg-8" id="answers">
    <br>
    <h3>Other flimsy attempts at answers:</h3>
    {{add-answer question=question saveAnswer="saveAnswer"}}
    <ul>
    {{#each question.answers as |answer|}}
      <li>
        {{answer-detail answer=answer destroyAnswer="destroyAnswer" updateAnswer="updateAnswer"}}
      </li>
    {{/each}}
    </ul>

  </div>
</div>
