<div class="row">
  <div class="col-lg-4">
    <h2>{{question.body}}</h2>
    <p>by {{question.author}} on {{question.date}}</p>
    <br>
    <button {{action 'delete' question}} class="btn btn-danger">Delete</button>
    {{question-update question=question updateQuestion="updateQuestion"}}
  </div>
  <div class="col-lg-8" id="answers">
    <h3>Answers:</h3>
    <ul>
    {{#each question.answers as |answer|}}
      <li>
        {{answer-detail answer=answer destroyAnswer="destroyAnswer" updateAnswer="updateAnswer"}}
      </li>
    {{/each}}
    </ul>

  </div>
</div>
